.dashboard {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--clr-white);
}

.dashboard__navbar {
  flex-shrink: 0;
}

.dashboard__body {
  display: flex;
  height: calc(100% - 3rem);
}

.dashboard__container {
  flex-basis: 100%;
  flex-shrink: 1;
  flex-grow: 0;
  overflow: scroll;
  height: calc(100% - 4rem);
  flex-grow: 0;
}

/* 
==========================
=   Tablet Media Query   =
==========================
*/
@media screen and (min-width: 768px) {
  .dashboard__body {
    height: calc(100% - 5rem);
  }
  .dashboard__container {
    height: calc(100% - 6.25rem);
  }
}