.dashboard {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--clr-white);
}

.dashboard__navbar {
  flex-shrink: 0;
}

.dashboard__body {
  display: flex;
  height: calc(100% - 3rem);
}

.dashboard__container {
  flex-basis: 100%;
  flex-shrink: 1;
  flex-grow: 0;
  overflow: scroll;
  height: calc(100% - 4rem);
  flex-grow: 0;
  padding: 0.6rem 0.3rem 0.9rem 0.9rem;
}

.dashboard__container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.dashboard__container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* 
==========================
=   Tablet Media Query   =
==========================
*/
@media screen and (min-width: 768px) {
  .dashboard__body {
    height: calc(100% - 5rem);
  }
  .dashboard__container {
    height: calc(100% - 6.25rem);
    padding: 1rem 2rem;
  }
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .dashboard__body {
    height: calc(100% - 4rem);
  }

  .dashboard__container {
    height: 100%;
    padding: 1rem 3rem;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
}
@media screen and (min-width: 1440px) {
  .dashboard__body {
    height: calc(100% - 5.75rem);
  }
}
