.navbar {
  display: flex;
  flex-direction: row;
}

.navbar__radius {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15vw;
  height: 3rem;
  border-bottom-left-radius: 70%;
  background-color: white;
}

.navbar__back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  color: var(--clr-primary-5);
  font-size: 1.5rem;
}

.navbar__container {
  background-color: white;
  width: 85vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}

.navbar__profile {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-image: url(../../images/pfp.png);
  background-size: contain;
}

.navbar__logout {
  width: 1.3rem;
  height: 1.3rem;
  font-size: 1.3rem;
  color: var(--clr-primary-5);
  margin: 0 0.5rem;
}

.dashboard__logo {
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(../../images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: 0.1rem solid var(--clr-primary-5);
  border-radius: 50%;
}

.navbar__search-bar {
  width: 6.5rem;
  height: 1.2rem;
  border: 0.1rem solid var(--clr-primary-5);
  padding: 0;
}
.navbar__search-bar::placeholder {
  font-size: 0.5rem;
  color: rgba(50, 78, 123, 0.34);
}
