.profile {
  width: 95%;
  height: 100%;
  overflow-x: hidden;
  padding-right: 5%;
  background-color: var(--clr-white-hover);
  border-radius: 1rem;
}

.profile__accordion-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.profile__input-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
}

.profile__input {
  --txt-width: 11rem;
  --txt-height: 2rem;
  --txt-font-size: 0.8rem;
  --txt-bcg: var(--clr-white-hover);
  margin: 0.5rem 0.175rem;
}

.profile__small-input {
  --txt-width: 7rem;
}

.profile__large-input {
  width: 100%;
  /* NOTE: change --txt-width to calc(100% - <--txt-width for .profile__small-input> - <margin-left for .profile__input> in PC media query */
  --txt-width: 100%;
}

/* 
==========================
=   Tablet Media Query   =
==========================
*/
@media screen and (min-width: 768px) {
  .profile {
    width: 100%;
    padding-top: 6rem;
  }

  .profile__input {
    --txt-width: 14rem;
    --txt-height: 2.3rem;
    --txt-font-size: 1rem;
    margin: 0.6rem 0.4rem;
  }

  .profile__small-input {
    --txt-width: 8.5rem;
  }

  .profile__large-input {
    --txt-width: 100%;
  }
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .profile {
    --acd-font-size: 1.5rem;
  }

  .profile__input {
    --txt-width: 20rem;
    --txt-height: 2.5rem;
    --txt-font-size: 1.3rem;
    margin: 0.7rem 0.5rem;
  }

  .profile__small-input {
    --txt-width: 12rem;
  }

  .profile__large-input {
    --txt-width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .profile {
    --acd-font-size: 2.2rem;
  }

  .profile__input {
    --txt-width: 23.8rem;
    --txt-height: 3.8rem;
    --txt-font-size: 1.9rem;
    margin: 1rem 0.7rem;
  }

  .profile__small-input {
    --txt-width: 14.6rem;
  }

  .profile__large-input {
    --txt-width: 100%;
  }
}
