.profile {
  width: 95%;
  height: 100%;
  overflow-x: hidden;
  padding-right: 5%;
}

.profile__accordion-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.profile__input-container {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
}

.profile__input {
  --txt-width: 11rem;
  --txt-height: 2rem;
  --txt-font-size: 0.8rem;
  --txt-bcg: var(--clr-white);
  margin: 0.5rem 0.175rem;
}

.profile__small-input {
  --txt-width: 7rem;
}

.profile__large-input {
  width: 100%;
  /* NOTE: change --txt-width to calc(100% - <--txt-width for .profile__small-input> - <margin-left for .profile__input> */
  --txt-width: 100%;
}

@media screen and (min-width: 768px) {

}