.dashboard__footer {
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 100vw;
  background-color: var(--clr-primary-5);
  border-radius: 3rem 3rem 0 0;
  border: 1px solid white;
  position: fixed;
  bottom: 0;
  z-index: 2;
}

.dashboard__footer__plus {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0.8rem solid var(--clr-white);
  background-color: var(--clr-primary-5);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  color: white;
  transform: translateY(-1.25rem);
}
.dashboard__footer__plus:hover {
  animation: bounce 1s ease 0s 3 normal forwards;
}

.dashboard__contact {
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: var(--clr-primary-5);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
  color: white;

  position: fixed;
  bottom: 4rem;
  left: 1rem;
}

.dashboard__contact:hover {
  animation: bounce 1s ease 0s 3 normal forwards;
}

/* 
==========================
=   Tablet Media Query   =
==========================
*/

@media screen and (min-width: 768px) {
  .dashboard__footer {
    height: 6.25rem;
    border-radius: 5rem 5rem 0 0;
    bottom: 0;
  }
  .dashboard__footer__plus {
    outline: 1.2rem solid var(--clr-white);
    width: 3.8rem;
    height: 3.8rem;
    font-size: 2.2rem;
    transform: translateY(-1.9rem);
  }

  .dashboard__contact {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 3rem;

    bottom: 8.5rem;
    left: 2.6rem;
  }
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .dashboard__footer {
    background-color: transparent;
    border: none;
  }

  .dashboard__footer__plus {
    width: 4rem;
    height: 4rem;
    outline: 0;

    position: fixed;
    bottom: 1.25rem;
    left: 2rem;

    transform: translateY(0);
  }

  .dashboard__contact {
    width: 4rem;
    height: 4rem;

    bottom: 7rem;
    left: 2rem;

    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1440px) {
  .dashboard__footer__plus {
    width: 4.5rem;
    height: 4.5rem;
    outline: 0;

    position: fixed;
    bottom: 2.5rem;
    left: 2.6rem;
  }
  .dashboard__contact {
    width: 4.5rem;
    height: 4.5rem;
    bottom: 8.5rem;
    left: 2.6rem;
  }
}
