.accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.accordion__title {
  color: var(--clr-primary-5);
  font-size: var(--acd-font-size);
  margin-bottom: 1rem;
  margin-right: 1rem;
  cursor: pointer;
  user-select: none;
}

.accordion__title--inactive {
  color: var(--clr-light-grey);
}

.accordion__body {
  flex-grow: 0;
  flex-basis: 0;
  overflow: hidden;
  transition: flex 200ms linear;
  height: fit-content;
}

.accordion__body--show {
  flex-basis: 100%;
}