.progress-bullet {
  position: relative;
}

.progress-bullet__bg {
  width: 1.5rem;
  height: 1.5rem;
  outline: 1px solid var(--clr-primary-5);
  outline-offset: -5px;
  border-radius: 100px;
  animation: rotate 10s linear infinite;
}
.progress-bullet__content {
  color: var(--clr-primary-5);
  font-size: 0.9rem;
  position: absolute;
  top: 0.05rem;
  left: 0.55rem;
}

/* 
==========================
=   Tablet Media Query   =
==========================
*/
@media screen and (min-width: 768px) {
  .progress-bullet__bg {
    width: 1.9rem;
    height: 1.9rem;
    outline: 2px solid var(--clr-primary-5);
    outline-offset: -7px;
  }
}

.progress-bullet__content {
  font-size: 1.2rem;
  left: 0.65rem;
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .progress-bullet__bg {
    width: 2.6rem;
    height: 2.6rem;
    outline: 3px solid var(--clr-primary-5);
    outline-offset: -9px;
  }

  .progress-bullet__content {
    font-size: 1.4rem;
    left: 1rem;
    top: 0.2rem;
  }
}

@media screen and (min-width: 1440px) {
  .progress-bullet__bg {
    width: 3.25rem;
    height: 3.25rem;
    outline: 4px solid var(--clr-primary-5);
    outline-offset: -11px;
  }

  .progress-bullet__content {
    font-size: 2rem;
    left: 1.2rem;
  }
}
