.progress-bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  color: var(--clr-primary-5);
  font-size: 0.9rem;
  outline: 1px solid var(--clr-primary-5);
  outline-offset: -5px;
  border-radius: 100px;
}

/* 
==========================
=   Tablet Media Query   =
==========================
*/
@media screen and (min-width: 768px) {
  .progress-bullet {
    width: 1.9rem;
    height: 1.9rem;
    font-size: 1.2rem;
    outline: 2px solid var(--clr-primary-5);
    outline-offset: -7px;
  }
}

/* 
==========================
=     PC Media Query     =
==========================
*/
@media screen and (min-width: 1024px) {
  .progress-bullet {
    width: 2.6rem;
    height: 2.6rem;
    font-size: 1.4rem;
    outline: 3px solid var(--clr-primary-5);
    outline-offset: -9px;
  }
}

@media screen and (min-width: 1440px) {
  .progress-bullet {
    width: 3.25rem;
    height: 3.25rem;
    font-size: 2rem;
    outline: 4px solid var(--clr-primary-5);
    outline-offset: -11px;
  }
}