.shop-index {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-white);
  padding-bottom: 5rem;
}

.shop-index__wave--mobile {
  width: 100%;
  height: calc(288 / 320 * 100vw);
  background-image: url(../../images/wave-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.shop-index__toggle {
  align-self: center;
  margin: 1rem 0;
  --tgl-height: 2rem;
  --tgl-width: 10rem;
  --tgl-font-size: 1rem;
}

.shop-index__signup-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.shop-index__signup-txt-input {
  --txt-width: 60vw;
  --txt-height: 2rem;
  margin-bottom: 1rem;
  --txt-font-size: 1rem;
}

.shop-index__signup-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--clr-primary-5);
  font-size: 1rem;
  width: 60vw;
  text-align: right;
}

.shop-index__signup-submit-container {
  width: 60vw;
  display: flex;
  justify-content: flex-start;
}

.shop-index__signup-submit {
  --btn-width: 8rem;
  --btn-height: 2rem;
  --btn-font-size: 1.5rem;
  transform: translateX(-40%);
}

@media screen and (min-width: 768px) {
  .shop-index__toggle{
    --tgl-height: 3rem;
    --tgl-width: 15rem;
    --tgl-font-size: 1.5rem;
  }
  .shop-index__signup-txt-input{
    --txt-width: 45vw;
    --txt-height: 3rem;
    --txt-font-size: 1.5rem;
  }
  .shop-index__signup-link {
    font-size: 1.5rem;
  }
  .shop-index__signup-submit {
    --btn-height: 3rem;
    --btn-width: 13rem;
    --btn-font-size: 2rem;
    transform: translateX(-20%);
  }
  
}
