.shop-index {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-white);
}

.shop-index__wave--mobile {
  width: 100%;
  height: calc(288 / 320 * 100vw);
  background-image: url(../../images/wave-mobile.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.shop-index__toggle {
  align-self: center;
  margin: 1rem 0;
  --tgl-height: 2rem;
  --tgl-width: 10rem;
  --tgl-font-size: 1rem;
}

.shop-index__signup-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.shop-index__signup-txt-input {
  --txt-width: 60vw;
  --txt-height: 2rem;
  margin-bottom: 1rem;
}

.shop-index__signup-link{
  background-color: var(--clr-white);
  border: none;
  cursor: pointer;
  color: var(--clr-primary-5);
  font-size: 1rem;
  width: 60vw;
  text-align: right;
}