/* 
  ===================
  =     Imports     =
  ===================
*/
@font-face {
  font-family: "BTraffic";
  src: url("./fonts/B Traffic.ttf");
}

/* 
  ===================
  = Reset  Selector =
  ===================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fnt-primary);
}

/* 
  ===================
  =    Variables    =
  ===================
*/
:root {
  /* 
  ====================
  =  Primary Colors  =
  ====================
  */
  /* --clr-primary-1:; */
  /* --clr-primary-2:; */
  /* --clr-primary-3:; */
  /* --clr-primary-4:; */
  --clr-primary-5: #324e7b;
  /* --clr-primary-6:; */
  /* --clr-primary-7:; */
  /* --clr-primary-8:; */
  /* --clr-primary-9:; */
  /* --clr-primary-10:; */

  /* 
  ====================
  =   Other Colors   =
  ====================
  */
  --clr-error: #f00;
  --clr-white: #eff6ff;
  --clr-light-grey: #324e7b57;
  /* --clr-black:; */

  /* 
  ===================
  =    Typefaces    =
  ===================
  */
  --fnt-primary: "BTraffic";
}

/* 
  ===================
  =    Keyframes    =
  ===================
  */

  @keyframes slide-left {
    0% {
      transform: translateX(-100%);
      opacity: 0%;
    }
    25% {
      transform: translateX(-75%);
    }
    50% {
      transform: translateX(-50%);
      opacity: 10%;
    }
    75% {
      transform: translateX(-25%);
      opacity: 60%;
    }
    100% {
      transform: translateX(0%);
      opacity: 100%;
    }
  }
  
  @keyframes slide-right {
    0% {
      transform: translateX(-100%) rotateY(180deg);
      opacity: 0%;
    }
    25% {
      transform: translateX(-75%) rotateY(180deg);
    }
    50% {
      transform: translateX(-50%) rotateY(180deg);
      opacity: 10%;
    }
    75% {
      transform: translateX(-25%) rotateY(180deg);
      opacity: 60%;
    }
    100% {
      transform: translateX(0%) rotateY(180deg);
      opacity: 100%;
    }
  }
  
  @keyframes fade-out-in {
    0% {
      opacity: 0%;
    }
    50% {
      opacity: 60%;
    }
    100% {
      opacity: 100%;
    }
  }