a {
  color: var(--clr-primary-5);
  text-decoration: none;
}
.shap {
  width: 100%;
  height: 45%;
  border: 1px solid red;
}

.toggle {
  width: 100%;
  height: 6%;
  border: 1px solid blue;
}
.input-forms {
  width: 100%;
  height: 40%;
  border: 1px solid red;
  display: flex;
  align-items: center;
  padding-top: 0.5rem;
  /* justify-content: center; */
  flex-direction: column;
}
.input-forms__signup-form {
  width: 60%;
  height: 150px;
  border: 1px solid gray;
  margin-bottom: 1rem;
}
.signup-forms__warnig-region {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  /* border: 1px solid brown; */
  margin-right: 35%;
}
.enter-button {
  width: 100%;
  height: 9%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 2rem;
}
.enter-button button {
  width: 120px;
  height: 2rem;
  border: none;
  outline: none;
  border-radius: 30px;
  background-color: var(--clr-primary-5);
  color: white;
  cursor: pointer;
}
